{{! Each post will be output using this markup }}
{{#foreach posts}}

<article class="{{post_class}} item">
	<div class="item-content">
		{{#if image}}<div class="photo"><a href="{{url}}"><img class="post-image" src="{{image}}"></a></div>{{/if}}
		<div class="caption"><p>{{excerpt}}</p></div>
	</div>
</article>

{{/foreach}}