{{!< default}}

{{! The main content area on the homepage }}
<main class="content" role="main">
	
	{{> "featured-evo"}}
	{{> "featured-brief-media"}}
	
	<section class="secondary-items">
		<h2 class="">More Work</h2>
		<div id="secondary-items-container" class="scroll-well">
			{{> "bin"}}
		</div>
	</section>

</main>

{{!! Display the previous/next pagination links if pagination is necessary }}
{{#if pagination.prev}}
	{{pagination}}
{{else}}
	{{#if pagination.next}}
		{{pagination}}
	{{/if}}
{{/if}}