{{!< default}}

{{! The main content area on the homepage }}
<main class="content" role="main">
	
	{{!> "featured-1"}}
	{{!> "featured-2"}}
			
	{{! The tag below includes the post loop - partials/loop.hbs }}
	<section class="secondary-items">
		<h2 class="">More</h2>
		<div class="scroll-well">
			{{> "cards"}}
		</div>
	</section>

</main>

	{{!! Display the previous/next pagination links if pagination is necessary }}
	{{#if pagination.prev}}
		{{pagination}}
	{{else}}
		{{#if pagination.next}}
			{{pagination}}
		{{/if}}
	{{/if}}