.secondary-items {
	text-align: left;
	padding-top: var(--space-l2);
	border-top: 1px solid var(--lightgrey);
	margin-bottom: var(--space-l2);
	
	h2 {
		font-size: 2em;
		line-height: 1;
		margin: 0 0 0.625em;
	}
}

.scroll-well {
	position: relative;
	white-space: nowrap;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	background-color: rgba(130, 150, 156, 0.15);
	box-shadow: inset 0 4px 15px rgba(130, 150, 156, 0.25);
	padding: var(--space-l2) var(--space-l2) var(--space-l1);
	border-radius: 10px;
	
	.card {
		display: inline-block;
		width: 16em; /* Since images are set to 256 px and 256/16 is 16. */
		max-width: 92.5%;
		margin: 0 var(--space-l1);
		
		&:first-of-type {
			margin-left: 0;
		}
		
		&:last-child {
			margin-right: 0;
		}
	}
}

.card {
	&.post {
		text-align: left;
	}
	
	.post-title {
		font-size: 1.65em;
		margin: var(--space-l1) 0 0;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
