@import 'variables.css';

a {
	transition: color 0.35s ease-out;
	color: var(--blue);
	text-decoration: none;
	
	@media (hover) {
	&:hover {
		color: var(--darkblue);
	}
	
	&:active {
		color: var(--text-color);
	}
	}
}

@keyframes pop-in {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	20% {
		transform: scale(0.95);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@media (hover) {
	.item-expand-area {
		transition: transform 0.25s ease-out;
		transform: scale(0.95);
	
		&:hover {
			transform: scale(1);
		}
	}
}

.item {
	animation: pop-in 0.75s ease-in-out forwards;
	transition: box-shadow 0.4s ease-out;
	display: inline-block;
	z-index: 1;
	overflow: hidden;
	border-radius: 0.35em;
	opacity: 0;
	color: var(--darkgrey);
	background-color: #EEEEEE;
	box-shadow: 0 0 5px rgba(0,0,0,0.25);
	margin: 2.5%;
	
	.no-cssanimations & {
		opacity: 1;
	}
	
	@media (hover) {
	margin: 1%;
	
	&:hover {
		overflow: hidden;
		z-index: 2;
		box-shadow: 0 0 10px rgba(0,0,0,0.25);
	}
	}
}

@media screen and (max-width: 35em) {
	.fourth .item, .fifth .item, .sixth .item, .seventh .item {
		animation-name: none;
		opacity: 1;
	}
}

.photo {
	overflow: hidden;
	width: 100%;
	height: auto;
	margin: 0 auto;
	box-shadow: 0 0 0.35em rgba(0,0,0,0.3);
	text-align: center;
}

.projects .photo {
	width: 145px;
	height: 145px;
	margin-top: 5%;
	box-shadow: none;
}

.photo img {
	transition: opacity 0.3s ease-out;
	display: block;
	width: 100%;
	height: auto;
	border-radius: 0.35em 0.35em 0 0;
	opacity: 1;
	
	@media (hover) {
	&:hover {
		opacity: 0.8;
	}
	
	&:hover {
		opacity: 0.9;
	}
	}
}

.caption {
	font-size: 1em;
	line-height: 1.35;
	
	p {
		margin: 4%;
	}
}

.pagination {
	margin: 0 auto;
	padding: 1.25em 0;
	text-align: center;
}

.post-template {
	.post {
		overflow: hidden;
		border-radius: 0.35em;
		background-color: #EEEEEE;
		box-shadow: 0 0 5px rgba(0,0,0,0.25);
		max-width: 92.5%;
		margin: 2.5% auto 2em;
	}
	
	header {
		animation: none;
		opacity: 1;
		
		.hire {
			display: none;
		}
	}
}

.post-header {
	position: relative; /* Set context for absolutely positioned post title. */
}

.post-title {
	position: absolute;
	width: 92.5%;
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 1.5% 5% 1.5% 2.5%;
	font-size: 2.5em;
	background: linear-gradient(to top,rgba(0,0,0,.30) 0,transparent 100%);
	color: var(--bg-color);
	text-shadow: -1px -1px 1px rgba(108, 108, 108, 0.4);
}


.post-image {
	width: 100%;
	margin: 0;
	display: block;
}

.post-content {
	padding: 0.75em;
}

/* Tablet */
@media (min-width: 35em) {
	.item-expand-area {
		width: 50%;
		
		.no-js & {
			width: 100%;
		}
	}
	
	.caption {
		font-size: 1.2em;
	}
}