@import 'variables.css';

/* Front page. */
@import 'index.css';

/* Individual post pages. */
@import 'single.css';

a {
	transition: color 0.35s ease-out;
	color: var(--blue);
	text-decoration: none;
	
	@media (hover) {
	&:hover {
		color: var(--darkblue);
	}
	
	&:active {
		color: var(--text-color);
	}
	}
}

.content {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
}

section {
	margin-left: var(--space-l2);
	margin-right: var(--space-l2);
}

.post-image {
	transition: box-shadow 0.5s ease;
	display: block;
	object-fit: cover;
	width: 100%;
	box-shadow: 0 2px 5px rgba(14, 21, 47, 0.2);
	border-radius: 5px;
	margin: 0;
}

.pagination {
	margin: 0 auto;
	padding: var(--space-l2) 0;
	text-align: center;
}

@media (min-width: 57.5em) {
	section {
		margin-left: auto;
		margin-right: auto;
	}
}

/* Animations */
@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    transform: scale3d(.96, .96, .96) rotate3d(0, 0, 1, -2deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale3d(1.04, 1.04, 1.04) rotate3d(0, 0, 1, 2deg);
  }
  40%, 60%, 80% {
    transform: scale3d(1.04, 1.04, 1.04) rotate3d(0, 0, 1, -2deg);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}