@import 'variables.css';

a {
	transition: color 0.35s ease-out;
	color: var(--blue);
	text-decoration: none;
	
	@media (hover) {
	&:hover {
		color: var(--darkblue);
	}
	
	&:active {
		color: var(--text-color);
	}
	}
}

@keyframes pop-in {
	from {
		transform: scale(0);
		opacity: 0;
	}
	20% {
		transform: scale(0.95);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    transform: scale3d(.96, .96, .96) rotate3d(0, 0, 1, -2deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale3d(1.04, 1.04, 1.04) rotate3d(0, 0, 1, 2deg);
  }
  40%, 60%, 80% {
    transform: scale3d(1.04, 1.04, 1.04) rotate3d(0, 0, 1, -2deg);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

.item-content {
	animation: pop-in 0.75s ease-out backwards;
	display: inline-block;
	z-index: 1;
	color: var(--darkgrey);
	margin: 2.5%;
	
	@media (hover) {
	&:hover {
	.photo {
		box-shadow: 0 3px 9px rgba(14,21,47,0.3);
	}
	}
	}
}

@media screen and (max-width: 35em) {
	.fourth .item-content, .fifth .item-content, .sixth .item-content, .seventh .item-content {
		animation-name: none;
		opacity: 1;
	}
}

.photo {
	transition: box-shadow 0.4s ease;
	transform-style: preserve-3d;
	overflow: hidden;
	width: 100%;
	height: auto;
	margin: 0 auto;
	box-shadow: 0 2px 5px rgba(14,21,47,0.2);
	border-radius: 5px;
	text-align: center;
	
	@media (hover) {
	&:hover {
		animation: tada 1s ease;
	}
	}
}

.tag-projects .photo {
	background-color: var(--bg-color);
}

.photo img {
	display: block;
	width: 100%;
	height: auto;
}

.caption {
	font-size: 1em;
	line-height: 1.35;
	text-align: left;
	
	p {
		margin: 4%;
	}
}

.pagination {
	margin: 0 auto;
	padding: 1.25em 0;
	text-align: center;
}

.post-template {
	.post {
		max-width: 92.5%;
		text-align: left;
		margin: 2.5% auto 2em;
	}
	
	header {
		animation: none;
		opacity: 1;
		
		.hire {
			display: none;
		}
	}
}

.post-header {
	position: relative; /* Set context for absolutely positioned post title. */
}

.post-title {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	font-size: 2.5em;
	color: var(--bg-color);
	text-shadow: -1px -1px 1px rgba(108, 108, 108, 0.4);
	background: linear-gradient(to top,rgba(0,0,0,.30) 0,transparent 100%);
	padding: 1.5% 5% 1.5% 2.5%;
	border-radius: 0 0 5px 5px;
	margin: 0;
}


.post-image {
	width: 100%;
	margin: 0;
	display: block;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(14,21,47,0.2);
}

.post-content {
	font-size: 1.1em;
	padding: 0.75em;
	
	img, iframe {
		max-width: 100%;
	}
}

/* Tablet */
@media (min-width: 35em) {
	.item {
		width: 50%;
		
		.no-js & {
			width: 100%;
		}
	}
	
	.caption {
		font-size: 1.05em;
	}
}